# Ignore all top level files/folders by default 
# (but not necessarily subfolders)
/* 

# Track these folders (nested gitignores)
!.config/

# Track these files
!.profile
!.bashrc
!.bash_profile
# !.bash_aliases
